/* tablet */
@media screen and (min-width:481px) and (max-width:1024px) {
    #wrap {width: 100%; height: auto;}


 #footBox {
    width: 100vw;height: 200px;
}

.foot_area {
    margin:auto; padding-top:30px;
    width: 80%; height:150px;
}

.foot_area h2 {
    float:left;
    margin-right: 4%;
    width:60px; height: 140px; 
    background-image: url("../../../image/lotteworld_aquarium_img/logo/foot_logo.png");
    background-repeat: no-repeat;background-position: 50% 50%; background-size: contain;
}

.foot_box {
    position:relative;
    float:right;
    margin-top: 20px;
    width: 80%; height: 110px;
} 

.foot_box .foot_info {
    position:relative; 
    float:left;
    width: 100%; height: 25px; 
}

.foot_box > .foot_info li{
     float:left; margin-right: 5%;
     color: #646464; font-size: 0.9rem; font-weight:700;
    }
       /* tablet */
@media screen and (max-width:1025px) {
    .foot_box > .foot_info li{border-right:0;}
    .family_site_area {display:none;}
    .foot_box address {display: none;}
}

.foot_box > .foot_info li:nth-of-type(1) { width: 30%; height: 100%; }
.foot_box > .foot_info li:nth-of-type(2) { width: 20%; height: 100%; }
.foot_box > .foot_info li:nth-of-type(3) { width: 20%; height: 100%; }
.foot_box > .foot_info li:nth-of-type(4) { width: 36%; height: 100%; margin-right:0;}
.foot_box > .foot_info li:nth-of-type(5) { width: 16%; height: 100%; }

.foot_info > li:last-of-type { border-right:0;}
.copyright {
    padding-top: 50px;
    font-size: 0.8rem; font-weight:700; color: #888888;
}
 
.sns_logo { 
     position:absolute; top:64%;left:0%; 
    width: 18%;height: 60px; }
.facebook {
    float:left;
    width: 40%; height: 40px; 
    background-image: url("../../../image/lotteworld_aquarium_img/sns_icon/fb_logo.png");
    background-repeat: no-repeat;background-position: 50% 50%; background-size: contain;
}

.instagram {
    float:right;
    width: 40%; height: 40px; background-image: url("../../../image/lotteworld_aquarium_img/sns_icon/insta_logo.png");
    background-repeat: no-repeat;background-position: 50% 50%; background-size: contain;
}
}

