#ticketBox {
    position: relative;
    width: 100vw; height: 100px;
}
.ticketBox_area {
    margin:auto;
    width: 70%; height: 100%;
}
.ticketBox_area::before {
    margin-top: 10px;
    position: absolute; top:0;left:50%; transform:translateX(-50%);
    content:""; display: block;
width: 0.2%; height: 80%; background-color: #737373;}
.time_area {
    float: left;
    width: 45%; height: 100%;
}
.time_area a{ width: 100%;height: 100%;}
.time_area ul {
    float:left;
    width: 100%; height: 100%;
}
.time_area li:nth-of-type(1) {
    float: left; margin-top:20px; margin-left: 10%;
    width: 10%;height: 60%;
    background-image: url("../../../image/lotteworld_aquarium_img/icon/clock.svg");
    background-position: 50% 50%; background-repeat: no-repeat;
    background-size: contain; 
}
/* laptop */
@media screen and (min-width:1025px) and (max-width:1440px) {
    .time_area li:nth-of-type(1) {margin-left :0;}
}
.time_area li:nth-of-type(2) {
    float: left;
    width: 30%;height: 100%; 
    line-height: 100px;
    color:#a7a7a7; font-weight:500; font-size:1.1rem;
}
.time_area li:nth-of-type(3) {
    float: left;
    width: 40%;height: 100%; 
    line-height: 100px;
    color:#737373; font-weight:700; font-size:1.1rem;
}
.time_area li {margin-right: 5%;}
.time_area li:last-child {margin-right: 0;}
/* ======================================================= */
.ticket_area {
    float: right;
    width: 45%;height: 100%;
}
.ticket_area a{ width: 100%;height: 100%;}
.ticket_area ul {
    float:left;
    width: 100%; height: 100%;
}
.ticket_area li:nth-of-type(1) {
    float: left;margin-top:15px; margin-left: 5%;
    width: 15%; height: 70%;
    background-image: url("../../../image/lotteworld_aquarium_img/icon/ticket.svg");
    background-position: 50% 50%; background-repeat: no-repeat;
    background-size: contain; 
}
.ticket_area li:nth-of-type(2) {
    float: left;
    width: 30%;height: 100%;
    line-height: 100px;
    color:#737373; font-weight:700; font-size:1.1rem;
}
.ticket_area li {margin-right: 5%;}
.ticket_area li:last-child {margin-right: 0;}

