/* mobile */
@media screen and (max-width:480px) {
    #wrap {width: 100%; height: auto;}
    #headBox {position: fixed; top: 0; height: 100px;}

    #viewBox {/* landing image */
        width: 100vw;height: 700px;
        background-image: url("../../../image/lotteworld_aquarium_img/viewBox/mob_view_03.png");
        background-position: 50% 50%; background-repeat: no-repeat;
        background-size: cover;
    } 
    #viewBox ul {
        position: absolute; top:11%; left:50%; transform: translateX(-50%);
        width: 100%; height: 100px;
    }
    #viewBox li {margin:auto;}
    #viewBox li:nth-of-type(1) {
        margin-bottom: 10px;
        width: 100%; height: 45px;
        text-align: center;
        font-size: 0.9rem; font-weight: 400; color:#fff;
    }
    #viewBox li:nth-of-type(2) {
        width: 100%;height: 80px;
        text-align: center;
        font-size: 1.6rem; font-weight: 700; color:#fff;
    }

    @media screen and (min-width:380px) and (max-width:480px) {
        #viewBox li:nth-of-type(1) {font-size: 1.1rem;}
        #viewBox li:nth-of-type(2) {font-size: 1.8rem;}
}

} 