#ticketBox {
    position: relative;
    width: 100vw; height: 100px; background-color: #ff77aa;
}
.ticketBox_area {
    margin:auto;
    width: 70%; height: 100%; background-color: #faf;
}
.ticketBox_area::before {
    position: absolute; top:0;left:50%; transform:translateX(-50%);
    content:""; display: block;
width: 0.5%; height: 100%; background-color: #646464;}
.time_area {
    float: left;
    width: 45%; height: 100%; background-color: darkviolet;
}

.time_area ul {
    float:left;
    width: 100%; height: 100%; background-color: #00ccaa;
}
.time_area li:nth-of-type(1) {
    float: left;
    width: 20%;height: 100%; background-color: #00aa77;
}
.time_area li:nth-of-type(2) {
    float: left;
    width: 30%;height: 100%; background-color: #00aa77;
}
.time_area li:nth-of-type(3) {
    float: left;
    width: 40%;height: 100%; background-color: #00aa77;
}
.time_area li {margin-right: 5%;}
.time_area li:last-child {margin-right: 0;}
/* ======================================================= */
.ticket_area {
    float: right;
    width: 45%;height: 100%; background-color: darkviolet;
}
.ticket_area ul {
    float:left;
    width: 100%; height: 100%; background-color: #00ccaa;
}
.ticket_area li:nth-of-type(1) {
    float: left;
    width: 20%;height: 100%; background-color: #00aa77;
}
.ticket_area li:nth-of-type(2) {
    float: left;
    width: 75%;height: 100%; background-color: #00aa77;
}
.ticket_area li {margin-right: 5%;}
.ticket_area li:last-child {margin-right: 0;}

