#communityBox {
    width: 100vw;height: 900px; background-color: #ffff77;
}

.community_text {
    padding-top: 120px;
    margin:auto; margin-bottom: 50px;
    width: 70%;height: 135px; background-color: #f07;
}
.community_text h2 {
    position: relative;
    width: 30%; height: 50px; background-color: rgb(117, 170, 141);
}
.community_text h2::after {
    content:""; display:block;
    position: absolute; bottom: -20px; left: 0;
    width: 120%; height: 2px; background-color: #646464;
}
.community_text p {
    margin-top:40px;
    width: 100%; height: 25px; background-color: #57a5ff;

}


.community_area {
    margin:auto;
    width: 100%; height: 100%; background-color: #ffaa00;
}