/* mobile */
@media screen and (max-width:480px) {
    #wrap {width: 100%; height: auto;}
    #headBox {position: fixed; top: 0; height: 100px;}
    
#wrap {position: relative;}
#headBox {
    position: absolute; left:0; top:0; z-index: 100;
    padding:0;
}
#gnbBox { position: relative; }
.head_area {
    padding-top:0;
    width: 80%;
}
.head_area>button {
    float:right;
    margin-top: 37px;
    width: 30px; height: 25px; 
    background-image: url("../../../image/lotteworld_aquarium_img/icon/menu_w.svg");
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
}
h1 {
    float: left; 
    width: 40%; height: 100px;  
    background-image:url("../../../image/lotteworld_aquarium_img/logo/logo_01.png");
    background-position: 50% 50%; background-repeat: no-repeat; background-size: contain;
}
#menuBox {display: none;
    position: fixed; top:0; right:0; z-index: 1000; overflow:scroll;
    width: 80%; height: 100%; min-height: 800px; 
    background-color:#fff;
}

.menu_title {
    padding:20px 20px ; box-sizing: border-box;
    width: 100%; height:auto; background-color:#fff;
    border-bottom: 2px solid#646464;
}
.button_div { width: 100%; height: 40px; margin-right:20px; margin-bottom: 20px;}
.button_div>button { 
    float: right;
    width: 45px;height: 35px; 
    background-image: url("../../../image/lotteworld_aquarium_img/icon/x.svg");
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
}

.menu_title_01 {
    width: 100%;height: auto; margin-bottom: 20px;
    color:#ea202d; font-size: 1.2rem; font-weight: 800;
    text-transform:capitalize;
}
.menu_title_02 {
    width: 100%;height: auto;
    margin-bottom: 20px;
    color:#797979; font-size: 0.9rem; font-weight: 600;
    word-break: keep-all;
}

.menu_title ul { width: 100%; height: 40px;}
.menu_title li{
    float:left; margin-right:20px;
     width: 30%; height: 40px; 
    }
.menu_title li a{
    width: 100%;height: 100%;
    border: 2px solid#646464; border-radius: 5px;
    color:#646464; text-align: center; line-height: 40px;
    font-size: 0.9rem; font-weight: 600;
}

#gnbBox{width: 100%;height: auto;}
.gnb_menu { width: 100%;height: auto; }
.gnb_menu dl {
    text-align:left; width: 100%; height: auto;
}
#gnbBox dt {
    margin-top: 30px;
    text-align:left; width: 100%; height:1.8rem;
    color:#797979;
}
.gnb_menu dt > button {
    float: left;
    text-indent: 30px;
    text-transform: capitalize;
    text-align:left; width: 90%; height: auto;
    color:#797979; font-size: 1rem; font-weight: 700;
}
.gnb_menu dt i {
    float: right;
    margin-top:5px; margin-right: 40px;
    width: 20px;height: 15px;
    background-image: url("../../../image/lotteworld_aquarium_img/icon/down_arrow_tab_menu.png");
    background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;
}

#gnbBox dd{
    margin-top:0;
    width: 100%; height: auto; padding: 0.6rem 0.6rem 1.1rem;
    box-sizing: border-box;
    color:#797979;
    border-bottom: 0.05rem solid #797979;}

#gnbBox dd li {
    float:none;
    margin-right: 0; padding-left: 53px;
    width: 100%; height: 45px;
    line-height: 43px; font-weight: 600; font-size: 0.8rem;
    text-align: left;
}   
#gnbBox dd ul {
    float:none;
    width: 100%;height: auto;
}

.headBox_menu_logo {
    margin-top: 150px;
    width: 100%; height: 130px; 
    background-image: url("../../../image/lotteworld_aquarium_img/logo/menu_logo.png");
    background-repeat: no-repeat;background-position: 50% 50%; background-size: contain;
}
} 