#newsBox {
  position: relative;
  float: left;
  width: 100%; height: 800px;
  background-color: #e4dccb;
}
#newsBox h2 {
  margin:auto; margin-top:110px ;
  width:350px; height: 60px;
 font-size: 3rem;  color:#5a5a5a;
 font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  text-transform: uppercase;
}
.news_box_area {
  margin:auto;
  width: 900px; height: 385px;}
.notice_box {
  float:left;
  margin-top: 80px;
  width: 420px;height: 385px;
}
.notice_text {width: 420px;height: 50px;}
.notice_text {
  display:block;  margin:auto;
  float:left;
  width: 420px;height: 50px;
  font-size: 2.3rem; color:#707070;
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;}

.notice_01 {
  float:left;
  margin-top:30px;
  width: 200px;height: 300px;
  background-color: #fff;
}
.notice_02 {
  float:right;
  margin-top:30px;
  width: 200px;height: 300px;
  background-color: #fff;
}

.press_box {
  float:right;
  margin-top: 80px;
  width: 420px;height: 385px;
}
.press_text {width: 420px;height: 50px;}
.press_text {
  display:block;  margin:auto;
  float:left;
  width: 420px;height: 50px;
  font-size: 2.3rem; color:#707070;
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.press_01 {
  float:left;
  margin-top:30px;
  width: 200px;height: 300px;
  background-color: #fff;
}
.press_02 {
  float:right;
  margin-top:30px;
  width: 200px;height: 300px;
  background-color: #fff;
}