@charset "utf-8";
/*float.css*/

#wrap{width: 800px; height:2000px; background-color:#ddd; margin:auto;}

.float_01{width:100%; height:400px; background-color:#ccf;}

.sample_01{width:90%; height:350px; margin
  :auto; border:1px solid#333; overflow-x:hidden; overflow-y:scroll;}

  .img_sam{float:left; margin:10px; width:150px; height:150px; background-color: #fa0;}

  .img_sam> img {border:none; width:100%; height:auto;}

  p{margin:0; width: 100%; height: 100%; background-color: #fc7;}

  /*--------------------------*/
  .float_02{width:100%; height:250px; background-color: #ccf;}

  .sample_02{ width:90%; height: 200%; border:1px solid#333;}
  .sample_02 > div{width:100px; height:70px; border:2px solid#fa0;}
  
  .fl_01{background-color: #fac;}
  .fl_02{background-color: #aff;}
  .fl_03{background-color: #faf;}
  .fl_04{background-color: #afc;}

  .sample_02 > div:nth-of-type(1) {float:left;}
  .sample_02 > div:nth-of-type(2) {float:left;}
  .sample_02 > div:nth-of-type(3) {float:left;}
  .sample_02 > div:nth-of-type(4) {float:left;}

  /*-----------------------------------------*/

  .float_03{width: 100%; height:300px; background-color: #ffc;}
  .sample_03{width:90%; height:250px; border:1px solid#333;}
  .sample_03>ul{float:right; margin:0; padding:0; list-style: :none; width:500px; height:50px; background-color: #fff;}
  .sample_03 li {float: left; width:80px;  height:48px; border:1px solid#777;}


  /*---------------------------*/

  .float_04{width:100%; height:700px;
  background-color: #dda;}

  .sample_04 {width:600px; height:650px; border:1px solid#333;}

  .sample_04>div{width:180px; height:50px; border:2px solid#0ac;
  text-align:center; line-height:50px; }

  .fl_02_01{float:left; background-color: #1776A4 }
  .fl_02_02{float:left;background-color: #E28332 }
  .fl_02_03{float:left; background-color: #E806BC }
  .fl_02_04{float:left; background-color: #CDB91B }
  .fl_02_05{float:left; background-color: #DFB9B7 }
  .fl_02_06{clear:both; background-color: #579E7B }
  .fl_02_07{float:left;  margin-top:10px; background-color: #01F054 }
  .fl_02_08{float:left;  margin-top:10px;background-color: #8E7AD9 }
  .fl_02_09{float:left;  margin-top:10px;background-color: #D55B9A }
  .fl_02_10{float:left; padding:10px; background-color:#BF8711 }
  .fl_02_11{float:left; background-color:#7973C8 }
  .fl_02_12{float:left; background-color:#311ADD }
  

  /*------------------------*/

  .float_05{width:100%; height:1000px; background-color: #acf;}

  .sample_05{width:600px; height:auto; border:2px solid#555;}
  .sample_05 > div{float:left; width:300px; height:100px;}
  .sam_01 {background-color: #0431F1;}
  .sam_02 {background-color: #98C59B;}
  .sam_03 {background-color: #80B170;}
  .sam_04 {background-color: #6975B1;}
  .sam_05 {background-color: #524E1F;}
  .sam_06 {background-color: #3A0A16;}
  .sample_05>.clear_sample{ float:none; clear:both; width:100%; height:50px; background-color: #fff;}

  .sample_06 {width:100%; height:100px; color:#fff; background-color: #f53;}

  .sample_05::after {content:" ";
    display :block; clear:both;
    }

    /* float 이란? 선택된 요소를 다른 요소와 비교 처리하여,
    1. 뒤에 다른 요소를 담아서 글자를 주변에 위치하도록 처리하거나, 
    2. 여러개의 형제 요소에 같이 사용하여, 옆으로 나란히 붙이도록 처리하거나,
    3. 때로는 float 처리되어 이를 강제로 취소처리(float:none) 하거나
    4. 여러개의 float 처리된 요소들의 마지막에 float 종료의 의미를 부여(clear:both)
    5.float 요소를 담으면, inline 또는 inline-block 요소들은 모두 block으로 강제변환된다.
    등을 할수 있는 기능을 담고있다.*/

    