@charset "utf-8";
/*mpbo.css*/
/*내용 진행하기 앞서, 기본margin, padding요소를 지우고 시작하기 */
/* html,body,h1,h2,h3,h4,h5,h6,p,ul,hr{margin:0; padding:0;} */
html,body,h1,h2,h3,h4,h5,h6,p,ul,hr{margin:0; padding:0;}


#wrap{ width:1100px; height: auto; min-height: 1200px; 
                     margin:auto; 
                    background-color: #dfdfdf;}



                    .nth_01 > li {
                      border-bottom:1px solid #aaa;
                    }
                    .nth_01 > li:nth-child(1) {
                      background-color: #fa0;
                    }
                    .nth_01 > li:nth-child(4) {
                      background-color: #f0a;
                    }
                    .nt {
                      padding-left: 1rem;
                      border-bottom: 1px solid #fa0;
                    }
                    .nt:nth-child(2) {
                      background-color: #fac;
                    }
                    .nt:nth-child(5) {
                      background-color: #acf;
                    }
                    .nth_02 p:nth-of-type(1) {
                      color: #f00;
                    }
                    .nth_02 p:nth-of-type(5) {
                      font-weight: bold;
                    }

/*:nth-child()  같은 항목 중 n번째
  :nth-of-type()  여러가지 태그안의 리스트중 n번째 */


h1{width: 300px; height: 40px; 
   background-color: #aca;
   margin:auto; margin-top:50px; margin-bottom:20px;}
  
#wrap{padding-top:20px;}

/*--------------------------------------------------------------------*/


.part{width: 100%;height:700px ;border: 1px solid#777;}
.part>ul{list-style:none; width: 100%; height: 100%;}
.part>ul>li{float:left; width:100px; height: 100px;border:1px solid#0af;
text-align:center;line-height:100px;}
/* margin : 요소와 요소 사이의 거리(눈에 보이는 공간)
            margin:10px; 위,오른쪽,아래,왼쪽(4방향) 모두 동일한 (10px) 여백을 가진다. 
   margin:10px 30px; 위/아래(10) 좌/우(30)로 값을 각각 분배하여  여백을 가진다.
   margin:10px 30px 50px; 위(10) 좌/우(30) 아래(50)로 값을 각각 분배하여 여백을 가진다.
   margin:10px 30px 50px 100px; 위(10) 좌(30) 아래(50) 우(100) 시계방향으로 여백을 가진다.
   margin-방향:50px; 원하는 방향에 여백을 가진다.
      
   단, margin을 중첩하여 사용할 경우에는, 겹치는 부분이 나중에 작성한 부분으로 처리가 되므로, 주의하여 사용할 것. - margin li:nth-child(7) (7번예시) */

.margin li:nth-child(1) {margin:10px;}
.margin li:nth-child(2) {margin:10px 30px;}
.margin li:nth-child(3) {margin:10px 30px 50px;}
.margin li:nth-child(4) {margin:10px 30px 50px 100px;}
.margin li:nth-child(5) {margin:0px 0px 0px 100px;}
.margin li:nth-child(6) {margin-top:50px;}
.margin li:nth-child(7) {margin:20px; margin-top:50px;}
/* margin 20을 주고 margin-top 50을 주면 20은 취소되고 50만 적용.
   margin-top 50 margin 20을 주면 전체적으로 20만 적용. */

/*-------------------------------------------------------------------------------------------------------------------------*/

.padding>ul>li {text-align;line-height:20px;}
.padding>ul>li:nth-child(2n-1) {background-color: #fa3;}
.padding>ul>li:nth-child(2n) {background-color: #3af;}
.padding_sample {padding:20px; width: 300px;height: 300px;
                 background-color: #fa7;}
.insert_p {width: 100%;height: 100%;
           background-color:transparent;}

/* padding : 요소의 부피를 키워서 공간을 확보하는 형태로,
             width/height 값의 실제는 변하지 않지만, 외부에서 보이기로는 width/height가 변한 것 처럼 보이도록 처리된다.
   padding: 20px ; 위,오른쪽,아래,왼쪽 4방향을 모두 면적을 만든다.            
   padding: 20px 40px ; 위/아래(20),오른쪽/왼쪽(40) 면적을 만든다.
   padding: 10px 30px 100px; 위(10),오른쪽/왼쪽(30),아래(100) 면적을 만든다.
   padding: 10px 20px 30px 40px; 위(10),오른쪽(20),아래(30),왼쪽(40) 면적을 만든다.
   padding:10px; padding-bottom:50px; 사용된 방향만 별도의 공간 면적을 가진다.

   단, 전체의 값을 먼저 사용하고 일부분을 나중에 사용하여야 필요한 형태로 제작이 가능.
   */            



.padding>ul>li:nth-child(1) {padding:20px;}
.padding>ul>li:nth-child(2) {padding:20px 40px;}
.padding>ul>li:nth-child(3) {padding:10px 30px 100px;}
.padding>ul>li:nth-child(4) {padding:10px 20px 30px 40px;}
.padding>ul>li:nth-child(5) {padding:10px; padding-bottom:50px;}
/* 전체 10px, 아래50px 주겠다. */

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.mp_sample{width:700px;height: 1000px;margin:auto; 
           border:2px solid#777;}

.mp_sample p{width:70%; height: 50px; 
             background-color: #aca; 
             border-bottom:1px solid#07f;}

.mp_sample p:nth-of-type(1) {margin:auto; margin-top:100px; margin-bottom:30px;}
.mp_sample p:nth-of-type(2) {margin-top:50px;}
.mp_sample p:nth-of-type(4) {margin-left:50px; margin-top:-30px;
                             width:50%;
                             background-color: #caa;}
.mp_sample p:nth-of-type(5) {margin-left:50%; margin-top:20%; 
                             width:50%; height: 100px;
                             background-color: #fa0;}
/*위, 아래가 겹쳐져 있을 경우에는 큰 값이 적용된다.

    ex).mp_sample p:nth-of-type(1){margin-bottom:50px;} 
       .mp_sample p:nth-of-type(2){margin-top:30px;}경우에는 (1)의 bottom 50px값만 적용된다.*/

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.border ul li:nth-child(1) {border-width:10px;
                            border-style:solid; /*solid:직선, dotted:점선, dashed:쇄선,ridge,  double......*/
                            border-color:#fa8;}

.border ul li:nth-child(2) {border:5px dotted #85f}/*굵기 , 스타일, 컬러 순*/

.border ul li:nth-child(3) {border-width:15px;
                            border-top-width:3px;
                            border-left-width:30px;
                            border-style:solid;
                            border-right-style:dotted;
                            border-right-color:#85f;
                            border-left-color:#fa0; }
.border ul li:nth-child(4) {background-color: #caa;
                            border-top:10px solid#f03;
                            border-bottom:10px solid#fff;
                            border-left:none;
                            border-right:none;}    

.border ul li:nth-child(5) {border:30px solid#0af;
                            border-top-color:#fff;}
         
.border ul li:nth-child(6) {width:0px; height: 0px;
                            border:30px solid#f03;
                            border-top-width:0;
                            border-bottom-width:50px;
                            border-top-color:transparent;
                            border-left-color: rgba(255,0,51,0);
                            border-right-color:hsla(358,100%,50%,0);
                            font-size: 0.5rem;
                            text-indent:-20px;
                            line-height:70px;
                            color:#fff; font-weight:bold;}

.border ul li:nth-child(7) {border:5px solid#f03;
                            border-left-color:transparent;
                            border-bottom-color:transparent;
                            transform:rotate(45deg);} 
                            
.border ul li:nth-child(7) >span {display:block;
                                  width:100%;height:100%;
                                  transform:rotate(-45deg);}

/*----------------------------------------------------------------------*/

/*  1. outline속성은 margin, padding, border와는 다르게 다른 요소에 영향을 미치지 않는다.
    2. outling속성은 일부 방향성이 없다.
    3. 단, 기존 선의 위치에서 일부 공간을 만들어서 표기하는 형태만 존재한다(offset)
    4. 그 쓰임 위치는 대부분 focus를 처리하게 만드는 요소(a, button, form내부의 요소에서
       주로 사용한다. */

.outline ul li,button{width: auto; min-height: 100px;
               cursor:pointer;}

.outline li:nth-child(1) {outline-width: 10px;
                         outline-style:dotted;
                         outline-color:#0af;
                         outline-offset:5px;}

.outline li:nth-child(2)>a {display:block;
                           width: 100%;height: 100%;}

.outline li:nth-child(2)>a:focus {outline:5px solid#fa0}
/* :focus란?
      링크(a), 버튼(input or button), 입력창(input, select) 등의 환경에서,
      마우스가 아닌 키보드로 위치를 찾아서 기능을 수행하고자 할 때, 해당 위치에 선점 한 것을
      체크하는 기능  */

.outline li:nth-child(3)>button {display:block; 
                                 width: 100px;height: 100%;
                                 border:0;
                                 background-color:transparent;}

.outline li:nth-child(3)>button:focus {outline:10px solid#f07;}

.outline li:nth-child(4):focus {outline:20px solid#fa0;}



.box_sizing {width: 80%; height: 400px;
             margin:100px auto;}

.box_sizing div {float:left;
                 width: 100px; height: 100px;
                 margin:10px; padding:15px;
                 border:30px solid#999;
                 border-right-color:#0af;
                 background-color: #fa5;}

.box_sizing div:nth-of-type(1){box-sizing: content-box;}
.box_sizing div:nth-of-type(2){box-sizing: border-box;}
                 

/* box-sizing 하기 전(before)은 box-sizing:content-box;로서 기본형으로 처리
   box-sizing을 사용하면(after) box-sizing:border-box; 로 처리. */
   

